@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,700;1,200;1,400;1,700&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url(web.css);
@import url(design.css);

:root {
  --yellow: #fdd538;
  --dark: #121212;
  --medium: #454545;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  position: fixed;
  height: 100%;
  overflow: hidden;
}

body {
  width: 100vw;
  min-height: 100vh;
  min-height: -webkit-fill-available;

  overflow: hidden;
}

#btn-switch {
  background-color: var(--medium);
  border-radius: 15px;
  position: relative;
  width: 55px;
  height: 31px;
  cursor: pointer;
}

#btn-switch div {
  background-color: var(--yellow);
  border-radius: 50%;
  position: absolute;
  width: 25px;
  height: 25px;
  top: 3px;
  left: 3px;
  transition: 100ms all ease-in-out;
}

#web-container,
#design-container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: var(--dark);
  transition: 300ms all ease-in-out;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
  padding-bottom: 60px;
}

#design-container {
  background-color: var(--yellow);
}

#design-container::-webkit-scrollbar,
#web-container::-webkit-scrollbar {
  width: 0px;
}

nav {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--yellow);
  font-size: 1.2rem;
  position: fixed;
  bottom: 0;
  left: 50%;
  width: 100%;
  justify-content: center;
  background-color: var(--dark);
  transform: translate(-50%);
  padding: 0.5rem;
  z-index: 1;
}

@media screen and (min-width: 768px) {
  #web-container {
    align-items: center;
    justify-content: center;
  }
}

@media screen and (min-width: 1000px) {
  #design-container {
    align-items: center;
    justify-content: center;
  }
}
